In [3]:
import sqlite3

In [4]:
connect = sqlite3.connect("temp.db")
cursor = connect.cursor()

In [6]:
#테이블 생성
cursor.execute("CREATE TABLE TEST_TABLE(name text , age interger)")

OperationalError: table TEST_TABLE already exists

In [7]:
cursor.execute("INSERT INTO TEST_TABLE VALUES('Aiden','25')")

In [9]:
cursor.execute("INSERT INTO TEST_TABLE VALUES(?,?)",('Matthew',23))

In [10]:
cursor.execute("INSERT INTO TEST_TABLE VALUES (:name , :age)",{"name":"John","age":21})

In [14]:
cursor.executemany("INSERT INTO TEST_TABLE VALUES(?,?)",(("Mike",16) , ("Lina",17)))

In [15]:
cursor.execute("SELECT * FROM TEST_TABLE")

print(cursor.fetchone())

('Aiden', 25)

In [16]:
cursor.execute("SELECT * FROM TEST_TABLE")
cursor.fetchall()  # 모든 데이터 조회

[('Aiden', 25), ('Matthew', 23), ('John', 21), ('Mike', 16), ('Lina', 17)]

In [17]:
# 조건에 맞는 컬럼 의 행이여서 바꾸고 싶은 set 의 컬럼을 설정 UPDATE
cursor.execute("UPDATE TEST_TABLE SET age=? WHERE name=?",(30,'Aiden'))

In [18]:
cursor.execute("DELETE FROM TEST_TABLE WHERE name=?",("Aiden",))

In [19]:
connect.commit()